h1 {
    text-align: center;
    padding: 50px;
}
a {
    color: #E6E5E0;
}
a:hover {
    color: #E6E5E0;
}
::placeholder {
    color: #E6E5E0;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
}
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    background-color: #6079A6;
    color: #E6E5E0;
    resize: vertical;
  }
input[type=submit] {
    background-color: #392839;
    color: #E6E5E0;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 50px;
  }
input[type=submit]:hover {
    background-color: #534973;
  }