body{
    margin: 0;
}
.navigation {
    overflow: hidden;
    background-color: #392839;
    padding: 15px;
}
.logo{
    width: 236px;
    height: auto;
    float: left;
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
.navlink {
    float: left;
    display: block;
    color: #E6E5E0;
    text-align: center;
    padding: 25px 16px;
    list-style-type: none;
}
.navsocial {
    max-width: 50px;
    max-height: 50px;
    float: right;
    padding-top: 20px;
}
.personalinfo {
    float: left;
    margin-left: 200px;
    padding: 15px;
    background-color: #FFFFFF;
}
.heroImg {
    width: 359px;
    height: auto;
    padding-left: 100px;
}
.content {
    margin: auto;
    width: 50%;
    color: #392839;
}
.ul {
    height: 10px;
    width: auto;
    display: block;
}
.myWork {
    text-align: center;
}
.workGrid {
    display: grid; 
    grid-template-columns: auto auto;
    grid-gap: 55px 10px;
    padding: 10px;
    text-align: center;
}
.Work3 {
    grid-column-start: 1;
    grid-column-end: 3;
}
.workheroImg {
    height: 400px;
    width: auto;
}
.footerlink {
    display: block;
    color: #E6E5E0;  
    background-color: #392839;
    padding: 2px;
    padding-left: 350px;
    list-style-type: none;
}
@media only screen and (max-width: 600px) {
    p {
        font-size: 20px;
    }
    .workGrid {
        display: grid; 
        grid-template-columns: auto;
        grid-gap: 55px 10px;
        padding: 10px;
        text-align: center;
}